dconf
Code
evolution
gnome*
gtk*
goa*
ibus
.gsd*
nautilus
update-notifier
pulse
nitrogen
user*
menu*
gedit
enchant
libreoffice
background
.vscode
lazygit
lvim
lvim
KDE
Thunar
discord
google-chrome
kde.org
kdedefaults
libaccounts-glib
session
spotify
whatsapp-for-linux
xfce4
xsettingsd
QtProject.conf
Trolltech.conf
akregatorrc
auroraerc
baloofilerc
bluedevilglobalrc
discoverrc
kactivitymanagerd-statsrc
kactivitymanagerdrc
kateschemarc
kcmfonts
kcminputrc
kconf_updaterc
kded5rc
kdeglobals
kfontinstuirc
kglobalshortcutsrc
khotkeysrc
kmixrc
krunnerrc
kscreenlockerrc
ksmserverrc
ksplashrc
ktimezonedrc
kwalletrc
kwinrc
kwinrulesrc
kxkbrc
plasma-localerc
plasma-org.kde.plasma.desktop-appletsrc
plasmanotifyrc
plasmarc
plasmashellrc
plasmawindowed-appletsrc
plasmawindowedrc
powermanagementprofilesrc
sddmthemeinstallerrc
zoomus.conf
zoom.conf
touchpadxlibinputrc
systemsettingsrc
