@define-color base   #24273a;
@define-color mantle #1e2030;
@define-color crust  #181926;

@define-color text     #cad3f5;
@define-color subtext0 #a5adcb;
@define-color subtext1 #b8c0e0;

@define-color surface0 #363a4f;
@define-color surface1 #494d64;
@define-color surface2 #5b6078;

@define-color overlay0 #6e738d;
@define-color overlay1 #8087a2;
@define-color overlay2 #939ab7;

@define-color blue      #8aadf4;
@define-color lavender  #b7bdf8;
@define-color sapphire  #7dc4e4;
@define-color sky       #91d7e3;
@define-color teal      #8bd5ca;
@define-color green     #a6da95;
@define-color yellow    #eed49f;
@define-color peach     #f5a97f;
@define-color maroon    #ee99a0;
@define-color red       #ed8796;
@define-color mauve     #c6a0f6;
@define-color pink      #f5bde6;
@define-color flamingo  #f0c6c6;
@define-color rosewater #f4dbd6;


* {
    border-radius: 7px;
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: "JetBrainsMono Bold", "Roboto Mono Medium", Helvetica, Arial, sans-serif;
    /* Recommended font sizes: 720p: ~14px, 1080p: ~18px */
    font-size: 22px;
    min-height: 0;
}

/* icons start at U+E900 in Jetbrains mono in gucharmap */

window#waybar {
  border-radius:    10px;
  border-width:     3px;
  border:           3px solid @flamingo;
  background-color: @base;
  /* color:            @surface0; */
}

window#waybar.hidden {
    opacity: 0.0;
}


/*********************************/
/*       WORKSPACE SHIT          */
/*********************************/
#workspaces button {
    background-color: transparent;
    color:            #ffffff;
    min-width:        36px;
    background-color: @rosewater;
    color:            @base;
    padding:          4px;
    margin:           3px;
    margin-top:       8px;
    margin-bottom:    8px;
}

#workspaces button.active {
    background-color: #ddddff;
    color:            #000000;
    min-width:        36px;
    background-color: @mauve;
    color:            @base;
    padding:          4px;
    margin:           3px;
    margin-top:       8px;
    margin-bottom:    8px;
}

#workspaces button:hover {
    background-color: @yellow;
    color:            @base;
}

#workspaces button.focused {
    background-color: #bbccdd;
    color:            #323232;
    /* box-shadow: inset 0 -3px #ffffff; */
}

#workspaces button.urgent {
    background-color: #eb4d4b;
}

/*   SHIT ON THE LEFT   */
#custom-wmname {
  font-size:         30;
  background-color:  @peach;
  padding-right:     19px;
  padding-left:      9px;
  margin-left:       13px; /* TODO */
  margin-top:        8px;
  margin-bottom:     8px;
}


/*********************************/
/*        OTHER MODULES          */
/*********************************/
#clock,
#battery,
#cpu,
#memory,
#temperature,
#backlight,
#network,
#pulseaudio,
#custom-media,
#tray,
#mode,
#idle_inhibitor,
#custom-poweroff,
#custom-pacman,
#mpd,
#language {
    padding:       4px;
    margin:        3px;
    margin-top:    8px;
    margin-bottom: 8px;
    color:         @base;
}

#window,
#workspaces {
    margin: 0 4px;
}


#clock {
  background-color: @mauve;
}

#battery {
    background-color: @yellow;
}

/* #battery.charging {
    color: #ffffff;
    background-color: #26A65B;
} */

/* #battery.critical:not(.charging) { */
/*     background-color: @critical; */
/*     color: @white; */
/* } */

#cpu {
    background-color: @pink;
}

#memory {
    background-color: #9b59b6;
}

#temperature {
    background-color: @blue;
}

#temperature.critical {
    background-color: @red;
}

#custom-poweroff {
  padding-left:     9px;
  margin-right:     13px; /* TODO */
  background-color: @surface1;
  color:            @blue;
}

#tray {
    /* background-color: #505050; */
}

#custom-separator {
    color: #606060;
    margin: 0 1px;
    padding-bottom: 5px;
}

